.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  justify-content: space-between;
}
.body {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  align-self: center;
}
.img_container {
  // flex: 1;
  // width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .mainImage {
    width: 80%;
    min-height: 400px;
    max-height: 400px;
    max-width: 500px;
    border: 1px solid black;
  }

  .detailImage {
    display: flex;
    // flex-direction: column;
    margin-top: 16px;

    img {
      max-width: 80px;
      height: auto;
      margin-right: 8px;
      cursor: pointer;
    }
  }
}

.product-detail-container {
  /* Styles for the product detail section */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .content-container {
    // text-align: center;

    h1 {
      font-size: 24px;
      margin-bottom: 8px;
      color: black;
    }

    p {
      font-size: 16px;
      margin-bottom: 8px;
      color: black;
    }

    h2 {
      font-size: 18px;
      margin-bottom: 16px;
      color: black;
    }

    button {
      padding: 8px 16px;
      font-size: 16px;
    }
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    /* Modify container styles for smaller screens */
  }

  .img_container {
    /* Modify img_container styles for smaller screens */
    width: 65%;
  }

  .product-detail-container {
    /* Modify product-detail-container styles for smaller screens */
    width: 65%;
  }
}
