// Variables
$primary-color: #007bff;
$secondary-color: #6c757d;
$light-color: #f8f9fa;

// Styles
.content__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: auto;

  .updateGroup {
    display: flex;
    width: 95%;
    flex-direction: row;
    height: 50%;
    background-color: #000000;
    margin: 0 auto 0 auto;
    border: 2px solid orange;

    .addgroup {
      width: 100%;
      max-width: 300px;
      height: 50%;
      background-color: #f8f9fa;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      margin-left: 20px;
      overflow-y: scroll;

      h2 {
        margin-top: 0px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 24px;
        color: #333;
      }

      form {
        display: flex;
        flex-direction: column;
        max-height: 40rem;

        label {
          margin-bottom: 5px;
          font-size: 16px;
          color: #333;
        }

        input,
        textarea {
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #ccc;
          margin-bottom: 10px;
          font-size: 16px;
          color: #ffffff;

          &:focus {
            outline: none;
            border-color: #4285f4;
            box-shadow: 0px 0px 5px rgba(66, 133, 244, 0.5);
          }
        }

        button {
          background-color: #4285f4;
          color: #fff;
          border: none;
          padding: 10px;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;

          &:hover {
            background-color: #1669ba;
          }
        }
      }
    }

    // remove unremove
    .tablegroup {
      display: flex;
      flex-direction: column;
      /* set the direction to column */
      align-items: center;
      /* center the items horizontally */
      max-height: 45rem;
      border: 1px solid white;
      overflow-y: scroll;
      overflow-x: hidden;
      font-weight: bold;
      padding: 2rem;
      font-size: 20px;
    }

    .product {
      margin: 0;
      max-height: 150rem;
    }


    // Product list
    .product-list {
      width: 80%;
      max-height: 45rem;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      // margin: 2rem;
      border: 2px solid white;

      &__title {
        display: inline;
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 2rem;
        overflow-y: scroll;
        padding: 2rem;
      }

      &__item {
        display: flex;
        align-items: center;
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        transition: box-shadow 0.2s ease;

        &:hover {
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        }
      }

      &__item-image {
        max-width: 150px;
        margin-right: 1rem;
      }

      &__item-title {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }

      &__item-description {
        margin-bottom: 1rem;
      }

      &__item-price {
        font-weight: bold;
      }

      &__empty {
        font-size: 2rem;
        margin-top: 2rem;
      }
    }
  }


  h2 {
    margin-top: 0;
  }



  label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
  }

  input,
  textarea,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid $secondary-color;
    border-radius: 4px;
  }

  button[type='submit'] {
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  // leftgroup
  .product {
    td:last-child {
      display: flex;
      justify-content: flex-end;

      button {
        margin-left: 10px;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 14px;
        transition: background-color 0.3s ease;

        &.active {
          background-color: $primary-color;
          color: white;

          &:hover {
            background-color: darken($primary-color, 10%);
          }
        }
      }
    }
  }

  // ban group
  .bangroup {
    width: 95%;
    color: orange;
    background-color: black;
    max-height: 30rem;
    overflow-y: scroll;
    border-top: 2px orange solid;
    margin-top: 1rem;
    margin: 2rem auto 2rem auto;
  }
}